<div class="container">
  <div class="row container">
    <h1 class="title col s12 center-align">Placeholder</h1>
  </div>
  <div class="game-box row">
    <div class="col s4">
      <img class="game-illus responsive-img" src="/assets/resources/images/placeholder.jpg">
    </div>
    <div class="details-box col s8">
      <div class="general-info">
        <h2 class="info-title">INFORMAÇÕES GERAIS</h2>
        <div class="row">
          <h3 class="info-type col s6">Desenvolvedor</h3>
          <h3 class="info col s6">Placeholder</h3>
        </div>
        <div class="row">
          <h3 class="info-type col s6">Distribuidora</h3>
          <h3 class="info col s6">Placeholder</h3>
        </div>
        <div class="row">
          <h3 class="info-type col s6">Lançado em</h3>
          <h3 class="info col s6">11/11/2011</h3>
        </div>
        <div class="row">
          <h3 class="info-type col s6">Gênero</h3>
          <h3 class="info col s6">Placeholder</h3>
        </div>
        <div class="row">
          <h3 class="info-type col s6">Série</h3>
          <h3 class="info col s6">Placeholder</h3>
        </div>
      </div>
      <div class="players-info">
        <h2 class="info-title">INFORMAÇÕES DOS JOGADORES</h2>
        <div class="row">
          <h3 class="info-type col s6">Avaliação</h3>
          <h3 class="score info col s6">90</h3>
        </div>
        <div class="row">
          <h3 class="info-type col s6">Na lista de</h3>
          <h3 class="info col s6">12345</h3>
        </div>
        <div class="row">
          <h3 class="info-type col s6">Favoritos</h3>
          <h3 class="info col s6">123</h3>
        </div>
      </div>
    </div>
</div>
<div class="add-game form-div indigo lighten-4 container">
  <h1>Adicionar a lista.</h1>
  <div class="row">
    <div class="col s8">
      <div class="category-div">
        <label>Categoria</label>
        <div class="select-cust">
          <select>
            <option value="" disabled selected>-</option>
            <option value="playing">Jogando</option>
            <option value="played">Zerado</option>
            <option value="on-hold">Em espera</option>
            <option value="dropped">Droppado</option>
            <option value="plan-to-play">Planejo jogar</option>
          </select>
        </div>
      </div>
      <div>
        <label for="hours-played">Horas jogadas</label><br>
        <input id="hours-played" type="number" class="validate">
      </div>
    </div>
    <div class="col s4">
      <div class="score-div">
        <label>Nota</label>
        <div class="select-cust">
          <select>
            <option value="" disabled selected>-</option>
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
          </select>
        </div>
      </div>
      <div>
          <label>
            <input type="checkbox" />
            <span>Favorito</span>
          </label>
      </div>
    </div>
  </div>
</div>
