.scroll-image {
  height: 19rem;
}

.scroll-item > p {
  margin-bottom: 0;
}

.text-over {
  margin-top: -60%;
  width: 164%;
  background-color: rgb(26, 21, 95);
  position: relative;
}

.text-over > p {
  color: white;
}

.scroll-item {
  padding: 1rem;
  width: 10rem;
  margin-right: 4rem;
}

.scroll-item:hover {
  cursor: pointer;
}