.scroll-image {
  height: 19rem;
}

.scroll-item > p {
  margin-bottom: 0;
}

.text-over {
  margin-top: -70%;
  width: 160%
}

.text-over > p {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.scroll-item {
  padding: 1rem;
  width: 10rem;
  margin-right: 4rem;
}

.scroll-item:hover {
  cursor: pointer;
}
