<div class="container">
  <div class="row container">
    <h1 class="title col s12 center-align">Lista de tankesho</h1>
  </div>
  <div class="status-box indigo lighten-4">
    <div class="bar row">
      <div class="green-bar col s1"></div>
      <div class="blue-bar col s5"></div>
      <div class="yellow-bar col s2"></div>
      <div class="red-bar col s1"></div>
      <div class="orange-bar col s3"></div>
    </div>
    <div class="below-box row">
      <div class="col s6 status-box-left">
        <div class="row status-line">
          <a href=""><img class="col s1" src="/assets/resources/images/playing-icon.png"><h3 class="list-link col s9">Jogando</h3><h3 class="list-link col s2">12</h3></a>
        </div>
        <div class="row status-line">
          <a href=""><img class="col s1" src="/assets/resources/images/played-icon.png"><h3 class="list-link col s9">Zerados</h3><h3 class="list-link col s2">36</h3></a>
        </div>
        <div class="row status-line">
          <a href=""><img class="col s1" src="/assets/resources/images/on-hold-icon.png"><h3 class="list-link col s9">Em espera</h3><h3 class="list-link col s2">24</h3></a>
        </div>
        <div class="row status-line">
          <a href=""><img class="col s1" src="/assets/resources/images/dropped-icon.png"><h3 class="list-link col s9">Droppados</h3><h3 class="list-link col s2">12</h3></a>
        </div>
        <div class="row status-line">
          <a href=""><img class="col s1" src="/assets/resources/images/plan-to-play-icon.png"><h3 class="list-link col s9">Planejo jogar</h3><h3 class="list-link col s2">36</h3></a>
        </div>
      </div>
      <div class="col s6">
        <div>
          <a href=""><h3 class="list-link col s10">Horas totais</h3><h3 class="list-link col s2">2455,5</h3></a>
        </div>
        <div>
          <a href=""><h3 class="list-link col s10">Média de notas</h3><h3 class="list-link col s2">7,5</h3></a>
        </div>
        <div>
          <a href=""><h3 class="list-link col s10">Favoritos</h3><h3 class="list-link col s2">9</h3></a>
        </div>
        <div>
          <a href=""><h3 class="list-link col s10">Jogos ao total</h3><h3 class="list-link col s2">120</h3></a>
        </div>
        <div>
          <a href=""><h3 class="btn waves-effect waves-light indigo darken-4 col12 button-full-list">Ver lista completa</h3></a>
        </div>
      </div>
    </div>
  </div>
  <div class="lists-box">
    <div class="status-scroll-box">
      <div class="row status-header">
        <div class="col s1">
          <img class="status-icon" src="/assets/resources/images/playing-icon.png">
        </div>
        <h3 class="status-title col s2">JOGANDO</h3>
        <h3 class="col s7 status-details right-align">12 jogos na categoria.</h3>
        <a class="col s2 status-button right-align" href=""><h3 class="btn waves-effect waves-light indigo darken-4 button-full-list">Ver mais</h3></a>
      </div>
      <div class="scroll">
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
      </div>
    </div>
    <div class="status-scroll-box">
      <div class="row status-header">
        <div class="col s1">
          <img class="status-icon" src="/assets/resources/images/played-icon.png">
        </div>
        <h3 class="status-title col s2">ZERADOS</h3>
        <h3 class="col s7 status-details right-align">35 jogos na categoria.</h3>
        <a class="col s2 status-button right-align" href=""><h3 class="btn waves-effect waves-light indigo darken-4 button-full-list">Ver mais</h3></a>
      </div>
      <div class="scroll">
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
      </div>
    </div>
    <div class="status-scroll-box">
      <div class="row status-header">
        <div class="col s1">
          <img class="status-icon" src="/assets/resources/images/on-hold-icon.png">
        </div>
        <h3 class="status-title col s2">EM ESPERA</h3>
        <h3 class="col s7 status-details right-align">36 jogos na categoria.</h3>
        <a class="col s2 status-button right-align" href=""><h3 class="btn waves-effect waves-light indigo darken-4 button-full-list">Ver mais</h3></a>
      </div>
      <div class="scroll">
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
      </div>
    </div>
    <div class="status-scroll-box">
      <div class="row status-header">
        <div class="col s1">
          <img class="status-icon" src="/assets/resources/images/dropped-icon.png">
        </div>
        <h3 class="status-title col s2">DROPPADOS</h3>
        <h3 class="col s7 status-details right-align">12 jogos na categoria.</h3>
        <a class="col s2 status-button right-align" href=""><h3 class="btn waves-effect waves-light indigo darken-4 button-full-list">Ver mais</h3></a>
      </div>
      <div class="scroll">
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
      </div>
    </div>
    <div class="status-scroll-box">
      <div class="row status-header">
        <div class="col s1">
          <img class="status-icon" src="/assets/resources/images/plan-to-play-icon.png">
        </div>
        <h3 class="status-title col s3">PLANEJO JOGAR</h3>
        <h3 class="col s6 status-details right-align">36 jogos na categoria.</h3>
        <a class="col s2 status-button right-align" href=""><h3 class="btn waves-effect waves-light indigo darken-4 button-full-list">Ver mais</h3></a>
      </div>
      <div class="scroll">
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
        <app-game-container [title]="this.title" [img]="this.img" [score]="this.score"></app-game-container>
      </div>
    </div>
  </div>
</div>
