<div class="container">
  <div class="row"><h1 class="title col s12 center-align">Resultados da busca: placeholder</h1></div>
  <div class="filter-box row">
    <div>
      <p class="col s2">Filtrando por: </p>
    </div>
    <div class="col s9">
      <p class="filter">Placeholder</p>
    </div>
    <div>
      <i class="material-icons col s1 filter-icon">filter_list</i>
    </div>
  </div>
  <div class="results-box">
    <div class="row">
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
      <div class="col s3">
        <img class="scroll-image" src="/assets/resources/images/placeholder.jpg">
        <p class="center-align">Placeholder</p>
      </div>
    </div>
  </div>
</div>
